<h1>Welcome to Relational Rails!</h1>
<h3><%= link_to "Companies", "/companies" %></h3>
<h3><%= link_to "Seeds", "/seeds" %></h3>
<h3><%= link_to "Dojos", "/dojos" %></h3>
<h3><%= link_to "Instructors", "/instructors" %></h3>