<%= link_to "Instructors Index", "/instructors" %>
<% @dojos.recently_created.each do |dojo| %>
  <p><%= dojo.name %></p>
  <p><%= dojo.created_at %></p>
<% end %>
<%= link_to "New Dojo", "/dojos/new" %>
